@use '../../theme' as theme;

section.section {
	&.section-placeholder {
		min-height: 300px;
		margin: auto;
	}
	&:nth-of-type(even) {
		background-color: theme.$iok-lightgrey;
	}
	&:nth-of-type(odd) {
		background-color: theme.$bg-secondary;
	}
	padding: 140px 0;
	@include theme.mobile {
		padding: 70px 0;
	}
}