@use 'sass:color';
@forward './_variables.scss';

$primary: #8e3ccc; //buttons
$light: #fff;
$dark: #1b1c31;
$dark-more: #202333;
$grey: #1B1C31;
$lightgrey: #BDBDBD;
$bg-light: #fff;
$bg-primary: #4b4c5c; // header alatti sáv
$bg-secondary: #1b1c31; // header háttér
$iok-yellow: #fadd99;
$h1-color: $iok-yellow;
$iok-light: #bde7ff;
$iok-lightblue: color.adjust($dark, $lightness: 25%);
$iok-lightgrey: #dddddd; // info section background
$iok-lightgreen: #a7ede2;
$iok-sponsor-grey: #e9ecef;
$iok-purple: #8e3ccc;

/* 

 */
$mobile-breakpoint: 762px;

@mixin mobile {
	@media screen and (max-width: #{$mobile-breakpoint}) {
		@content;
	}
}

@mixin desktop {
	@media screen and (min-width: #{$mobile-breakpoint}) {
		@content;
	}
}