@use '../theme' as theme;

footer {
	background-color: theme.$dark-more;
	padding: 40px 0;
	.container {
		display: flex;
		@include theme.mobile {
			display: block;
		}
	}
	.links {
		flex: 1;
		color: theme.$lightgrey;
		font-weight: 500;
		font-size: 0.8rem;

		div.title {
			font-weight: 700;
			font-size: 1.2rem;
			margin-bottom: 10px;
		}

		div.contact {
			display: grid;
			grid-template-columns: 16px auto;
			gap: 5px;
			@include theme.mobile {
				margin-bottom: 20px;
			}
		}

		svg {
			fill: theme.$lightgrey;
			transform: translateY(-2px);
			width: 16px;
		}
		
		a {
			text-decoration: none;
			color: theme.$lightgrey;
			margin-right: 20px;
			
			@include theme.mobile {
				// Mobil specifikus stílusok
			}
			
			&:hover {
				text-decoration: underline;
			}
		}
	}
	.copyright {
		color: theme.$light;
		font-size: 0.8rem;
	}
	.http {
		filter: invert(0.6);
		height: 50px;
	}
	.copy {
		margin-top: 10px;
	}
	@include theme.mobile {
		padding: 40px 20px;
		.copyright {
			margin-top: 20px;
		}
	}
}